h1 {
    font-family: 'Patua One', cursive;
  }
  
  header {
    background:skyblue;
    width:100%;
    padding:40px 0;
    color:white;
    text-align:center;
  }
   
  .bg-nav {
    background-color: #446274;
  }
  .ts{
    text-shadow: 2px 2px 4px #000000;
  }

 /* responsive */