.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
    margin-right: 1%;
  }

  .text-danger{
    color: #f44336;
  }

  .mobileVisible{
    display: none;
  }

  .pt1{
    padding-top: 1%;
  }

  @mixin button {
    padding: 0;
    border: none;
    font-family: 'Patua One', cursive;
    color: white;
    background-color: transparent;
    cursor: pointer;
  }
  
  .next-button {
    @include button;
    padding: 10px;
    background-color: skyblue;
  }

  .back-button {
    @include button;
    padding: 10px;
    background-color: #446274;
  }

  :host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white !important;
  }

  @media only screen and (max-width: 600px) {
    .mobileHiden {
      display: none;
    }
    .mobileVisible{
      display: inline-block;
    }
    .pt19Mb{
      padding-top: 19%;
    }
    .pb1Mb{
      padding-bottom: 1%;
    }
    .w100Mb{
      width: 100%;
    }
  }
  